@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

oh {
  overflow-x: hidden;
}

.mc-snackbar-title{margin:0 0 0 0;padding:11px 0}.mc-snackbar-title strong{font-weight:600}#react-snackbar-root .mc-snackbar{height:auto;position:relative;left:0;right:0;margin-left:auto;margin-right:auto;bottom:0;-webkit-animation:alt-snackbarload 0.25s cubic-bezier(0.2, 0, 0.5, 1.5);animation:alt-snackbarload 0.25s cubic-bezier(0.2, 0, 0.5, 1.5)}#react-snackbar-root .mc-snackbar-holder-backdrop{background:none;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:1000}#react-snackbar-root .mc-progress-bar-fg{-webkit-transition:none;transition:none}#react-snackbar-root .mc-snackbar-actions{margin-left:auto;height:44px}#react-snackbar-root .mc-snackbar-actions:last-child{margin-left:16px}#react-snackbar-root .mc-snackbar-actions:only-of-type{margin-left:auto}#react-snackbar-root .mc-snackbar-container{-webkit-box-align:normal;-ms-flex-align:normal;align-items:normal}#react-snackbar-root .mc-snackbar-icon{height:44px}#react-snackbar-root .mc-snackbar-icon svg{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}@-webkit-keyframes alt-snackbarload{0%{bottom:-28px}100%{bottom:0}}@keyframes alt-snackbarload{0%{bottom:-28px}100%{bottom:0}}

.mc-snackbar {
  box-sizing: border-box;
  margin-bottom: 24px;
  height: 44px;
  background-color: #f7f9fa;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(99, 114, 130, 0.16), 0 8px 16px rgba(27, 39, 51, 0.08);
  font-size: 14px;
  font-weight: 400;
  color: #1b2733;
  -webkit-animation: snackbarload 0.15s cubic-bezier(0.2, 0, 0.5, 1.7);
          animation: snackbarload 0.15s cubic-bezier(0.2, 0, 0.5, 1.7);
  pointer-events: all;
  max-width: 600px;
  min-width: 400px;
}

.mc-snackbar-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
}

.mc-snackbar-container--snackbar-icon {
  padding-left: 8px;
}

.mc-snackbar-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* 1.3 Action Links component and overrides. This overrides the default anchor
treatment and uses $color_stone as the default color */

.mc-snackbar-actions {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #637282;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.mc-snackbar-actions:hover {
  color: #007af5;
}

/* 1.4 - Icon container for any element that would be embedded inside of a Snackbar */

.mc-snackbar-icon {
  margin-right: 4px;
}

.mc-snackbar-icon svg {
  display: block;
  width: 32px;
  height: 32px;
}

/* 1.5 - Progress bar for syncing Snackbar. Kind of janky: using negative margin
and some rough border-radius properties in order to get alignment correct and prevent
clipping with .c-snackbar border. */

.mc-progress-bar-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-top: -4px;
  background-color: #d6e8fa;
  height: 4px;
}

.mc-progress-bar-fg {
  width: 0%;
  height: 4px;
  border-radius: 0px 4px 4px 8px;
  background-color: #0070e0;
  transition: all linear 1s;
}

.mc-snackbar-holder-backdrop {
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 12;
  pointer-events: none;
  -webkit-animation: backgroundfade 0.2s linear;
          animation: backgroundfade 0.2s linear;
}

.mc-snackbar-holder-backdrop .mc-snackbar {
  margin-top: 132px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes snackbarload {
  0% {
    margin-top: 160px;
  }
  100% {
    margin-top: 132px;
  }
}

@keyframes snackbarload {
  0% {
    margin-top: 160px;
  }
  100% {
    margin-top: 132px;
  }
}

.mc-icon-template-status-rotating {
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}